.square {

  border: 1px solid black;

	display: flex;
	justify-content: center;
	align-items: center;
  box-sizing: border-box;
	background-color: transparent;
	border-radius: 0px;
	overflow: visible;
	padding: 0;
	margin: 0;
}

.coin {
	min-height: 150%;
	min-width: 150%;
}

.dragon {
	min-height: 250%;
	min-width: 250%;
	top: -25%;
}

.fire {
	min-height: 150%;
	min-width: 250%;	
	top: -45%;
}

.dragonRider {
	min-height: 350%;
	min-width: 350%;	
}